<header class="flex px-[10%] justify-between items-center py-6 shadow-2xl sticky " >
    <nav class="flex gap-10 items-center">
        <a href="/" class="font-semibold text-2xl text-zinc-800">The Bedrock Project</a>
        <ul class="flex gap-6 text-gray-700">
            <li><a href="/articles">Articles</a></li>
            <li><a href="/podcast">Videos</a></li>
            <li class="relative group">
                <button class="font-semibold text-gray-700">Tools</button>
                <ul class="absolute hidden group-hover:block bg-white shadow-lg mt-2 rounded-md">
                    <li><a href="" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Concordance</a></li>
                    <li><a href="" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Dictionary</a></li>
                </ul>
            </li>
            <li><a href="/about">About us</a></li>
        </ul>
    </nav>

   <form action="">
    <input type="text" placeholder="Search..." class="w-[300px] h-10 rounded-full px-4">
   </form>
</header>